body {
  font-family: arial, sans-serif;
  background-image: url("../img/4853433.jpg");
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li::first-letter {
  text-transform: capitalize;
}

.form-control {
  background-color: transparent;
}
.form-control::placeholder {
  color: rgb(50, 25, 79) !important;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 15px;
  background-color: #fffdfb;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 50px auto;
}

.city-section {
  margin-bottom: 20px;
}

.weather-temprature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temprature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temprature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.active {
  text-decoration: none;
  color: rgb(33, 33, 33);
}

.active:hover {
  color: rgb(33, 33, 33);
  cursor: default;
}

#forecast-section {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.forecast-temperatures {
  font-size: 13px;
}

.forecast-temp-min {
  opacity: 0.5;
}

/* //////// */
.button {
  background: transparent;
  color: rgb(50, 25, 79);
  border-color: rgb(50, 25, 79);
}

.button:hover,
.button:active,
.button:focus-visible {
  background-color: rgb(50, 25, 79) !important ;
  border: rgb(50, 25, 79) !important;
  color: #fff;
}
